@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-oswald: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white font-oswald font-light text-black-1 text-base;
  }
}

/* INVERTER BORDER RADIUS FOR HERO */
#hero .content-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -9%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: -10px 10px 0 #fff;
}

#hero .content-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -4.6%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: -10px 10px 0 #fff;
}

#hero .content-3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10.5%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: -10px 10px 0 #fff;
}

#hero .content-3::after {
  content: "";
  position: absolute;
  top: -35%;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: -10px 10px 0 #fff;
}

#hero .button-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -34%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

#hero .button-1::after {
  content: "";
  position: absolute;
  top: -34%;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

#hero .button-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -34%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

#hero .button-2::after {
  content: "";
  position: absolute;
  top: -34%;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

/* INVERTER BORDER RADIUS FOR IDEAS */
#ideas .content-1::before,
#ideas .content-1::after {
  content: "";
  position: absolute;
  left: -7.5%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
}

#ideas .content-1::before {
  top: 0;
  box-shadow: 8px -8px 0 #fff;
}

#ideas .content-1::after {
  bottom: 0;
  box-shadow: 8px 8px 0 #fff;
}

#ideas .content-2::before {
  content: "";
  position: absolute;
  bottom: -32%;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px -8px 0 #fff;
}

#ideas .content-3::before,
#ideas .content-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
}

#ideas .content-3::before {
  left: -10%;
  box-shadow: 8px 8px 0 #fff;
}
#ideas .content-3::after {
  right: -10%;
  box-shadow: -8px 8px 0 #fff;
}

/* INVERTER BORDER RADIUS FOR CRAFTS */

#crafts .cart::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -31%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

#crafts .cart::after {
  content: "";
  position: absolute;
  top: -32%;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 8px 8px 0 #fff;
}

@media screen and (max-width: 1024px) {
  /* INVERTER BORDER RADIUS FOR HERO */
  #hero .content-1::before {
    right: -10%;
  }

  #hero .content-2::before {
    right: -5.5%;
  }

  #hero .content-3::before {
    right: -12%;
  }

  #hero .content-3::after {
    top: -36%;
  }

  #hero .button-1::before,
  #hero .button-2::before {
    left: -33.5%;
  }

  #hero .button-1::after,
  #hero .button-2::after {
    top: -33.5%;
  }

  /* INVERTER BORDER RADIUS FOR IDEAS */
  #ideas .content-1::before,
  #ideas .content-1::after {
    left: -8.5%;
  }

  #ideas .content-2::before {
    bottom: -38%;
  }

  #ideas .content-3::before {
    left: -10.5%;
  }
  #ideas .content-3::after {
    right: -11%;
  }

  /* INVERTER BORDER RADIUS FOR CRAFTS */
  #crafts .cart::before {
    left: -30%;
  }

  #crafts .cart::after {
    top: -31%;
  }
}

@media screen and (max-width: 768px) {
  /* INVERTER BORDER RADIUS FOR HERO */
  #hero .content-1::before {
    right: -12.1%;
  }

  #hero .content-2::before {
    right: -6.5%;
  }

  #hero .content-3::before {
    right: -14.5%;
  }

  #hero .content-3::after {
    top: -48%;
  }

  /* INVERTER BORDER RADIUS FOR IDEAS */
  #ideas .content-1::before,
  #ideas .content-1::after {
    left: -10.5%;
  }
  #ideas .content-2::before {
    bottom: -42%;
  }

  #ideas .content-3::before {
    left: -11.5%;
  }
  #ideas .content-3::after {
    right: -11.5%;
  }
}

@media screen and (max-width: 640px) {
  /* INVERTER BORDER RADIUS FOR HERO */
  #hero .content-1::before {
    right: -14.8%;
  }

  #hero .content-2::before {
    right: -8%;
  }

  #hero .content-3::before {
    right: -19%;
  }

  #hero .content-3::after {
    top: -62%;
  }

  #hero .button-1::before,
  #hero .button-2::before {
    left: -39%;
  }

  #hero .button-1::after,
  #hero .button-2::after {
    top: -39%;
  }

  /* INVERTER BORDER RADIUS FOR CRAFTS */
  #crafts .cart::before {
    left: -32%;
  }

  #crafts .cart::after {
    top: -33%;
  }
}

@media screen and (max-width: 480px) {
  /* INVERTER BORDER RADIUS FOR HERO */
  #hero .content-1::before {
    right: -17.2%;
  }

  #hero .content-2::before {
    right: -9.5%;
  }

  #hero .content-1::after {
    content: "";
    position: absolute;
    top: -45.5%;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 16px;
    box-shadow: -10px 10px 0 #fff;
  }

  #hero .button-1::after,
  #hero .button-2::after {
    top: -38%;
  }

  /* INVERTER BORDER RADIUS FOR IDEAS */
  #ideas .content-1::before,
  #ideas .content-1::after {
    left: -14%;
  }

  #ideas .content-2::before {
    bottom: -50%;
  }

  #ideas .content-3::before {
    left: -13.5%;
  }
  #ideas .content-3::after {
    right: -13.5%;
  }

  /* INVERTER BORDER RADIUS FOR CRAFTS */
  #crafts .cart::before {
    left: -33%;
  }

  #crafts .cart::after {
    top: -33%;
  }
}
